/* <!-- Fonts for whole website --> */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    font-family: "Kode Mono", monospace;
}

/* Background Image */
body {
    background-color: black;
    color: purple;
}

#site-name{
    text-shadow: 2px 2px 4px purple;
}


.center-text {
    text-align: center;
}

/* .box {
    font-weight: bolder;
} */

.box2 {
    font-weight: bolder;
    text-align: center;
    color: purple;
    text-shadow: 2px 2px 4px purple;
}

#bookmarks-home {
    text-align: center;
}

.link-shadow {
    box-shadow: 5px 5px 15px 5px rgba(245, 5, 253, 0.63);
    text-align: center;
    width: 80px;
    padding: 23px;
    margin: 23px auto;
}

.link-shadow:hover {
    box-shadow: 5px 5px 15px 5px blueviolet;
    cursor: pointer;
}

.link-shadow:active {
    box-shadow: 5px 5px 15px 5px blue;
}

/* .img-btn {

    width: 75px;
    margin: auto;
} */

.menu{
    display: flex;
}

.menu-opt{
    list-style: none;
    padding-inline: 40px;
}